[Unit]
Description=JIRA Service
After=network.target iptables.service firewalld.service firewalld.service httpd.service

[Service]
Type=forking
User={{ jira_user }}
Environment=JAVA_HOME=/usr
ExecStart={{ jira_current_dir }}/bin/start-jira.sh
ExecStop={{ jira_current_dir }}/bin/stop-jira.sh
ExecReload={{ jira_current_dir }}/bin/stop-jira.sh | sleep 60 | {{ jira_current_dir }}/bin/start-jira.sh
{% if jira_env_vars is defined %}
{% for kv in jira_env_vars %}
Environment="{{ kv.key }}={{ kv.value }}"
{% endfor %}
{% endif %}
LimitNOFILE=4096
LimitNPROC=4096

[Install]
WantedBy=multi-user.target

